#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: calibri;
}

.app {
  background-image: url('./images/christmasfond.webp');
  background-size: cover; /* Assure que l'image couvre toute la zone */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Le fond reste fixe */
  margin: 0; /* Retire les marges par défaut */
  height: 100vh; /* Assure que la hauteur du body soit celle de la vue */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre le contenu verticalement */
  z-index: -1; /* Assure que le fond soit derrière tout autre contenu */
}

.ChristmasLogo {
  width: 100px;
  height: 100px;
}

/* Styles pour le conteneur principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Titres */
h2 {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #c0392b; /* Rouge Noël */
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #27ae60; /* Vert Noël */
  margin-top: 20px;
}

/* Textes d'avertissement */
p {
  text-align: center;
  color: red;
}

/* Formulaire */
form {
  margin-bottom: 20px;
}

/* Sélecteur et champs de texte */
select,
input[type="text"] {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 10px;
}

/* Boutons */
button {
  background-color: #c0392b; /* Rouge */
  color: white;
  padding: 10px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-button {
  margin-top: 10px; /* Adds space above the "Effacer les cadeaux" button */
}

button:hover {
  background-color: #e74c3c; /* Rouge plus clair */
}

/* Liste des cadeaux */
ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Style du bouton d'effacement */
button.clear {
  background-color: #e74c3c; /* Rouge clair */
  margin-top: 20px;
}

button.clear:hover {
  background-color: #c0392b; /* Rouge original */
}

@media screen and (max-width: 390px) {
  body {
    height: 100vh;

  }
}